doctype html
include includes/mixins

+page("AngularJS Training")
  section.index-page
    h2 AngularJS Training
    h4 Slides
    ul
      li
        a(href="lectures/intro.html", target="_blank") Intro
      li
        a(href="lectures/outro.html", target="_blank") Closing
    ol
      li
        a(href="lectures/lecture-01.html", target="_blank") Project Setup
      li
        a(href="lectures/lecture-02.html", target="_blank") Angular Bootcamp
      li
        a(href="lectures/lecture-03.html", target="_blank") Karma
      li
        a(href="lectures/lecture-04.html", target="_blank") Routing and Resources
      li
        a(href="lectures/lecture-05.html", target="_blank") Directives
      
        
  section.index-page
    h2 AngularJS Training
    h4 Printable Slides
    ul
      li
        a(href="lectures/intro.html?print-pdf", target="_blank") Intro
      li
        a(href="lectures/outro.html?print-pdf", target="_blank") Closing
    ol
      li
        a(href="lectures/lecture-01.html?print-pdf", target="_blank") Project Setup
      li
        a(href="lectures/lecture-02.html?print-pdf", target="_blank") Angular Bootcamp
      li
        a(href="lectures/lecture-03.html?print-pdf", target="_blank") Karma
      li
        a(href="lectures/lecture-04.html?print-pdf", target="_blank") Routing and Resources
      li
        a(href="lectures/lecture-05.html?print-pdf", target="_blank") Directives