doctype html
include ../includes/mixins
- var title = "Midwest JS Angular Workshop"

+page(title)
  section.index-section(data-state="index-slide")
    +animated-header()
    h3 AngularJS Workshop

  section
    h1
      i.fa.fa-github
    p These slides are up on GitHub!
    a(href="https://github.com/objectpartners/angular-midwestjs-workshop", target="_blank") objectpartners/angular-midwestjs-workshop

  section
    h2 Introductions
    ul
      li Kevin Bosak
        a(href="https://twitter.com/kevinbosak", target="_blank") (@kevinbosak)
      li Bruce Coddington
        a(href="https://twitter.com/brucecoddington", target="_blank") (@brucecoddington)

  section
    h2 Training Objectives
    ul
      li Share our experience building a production application using Angular JS
      li Many of the topics covered are universal to any JS dev
      li We love questions, don't be shy..you cannot derail us

  section
    h1 Topics

  section
    h2 Today
    ul
      li Project Setup and Build Tools
      li Angular Bootcamp, Controllers, and Scope
      li Karma and Unit Testing
      li Angular Modules, Resources, and Router
      li Custom Directives

  section
    h2 Format
    ul
      li Lecture
      li Individual Labs
      li Repeat

  section
    h1 The Lab

  section
    h2 Timesheetz
    p We will build a AngularJS application together over the next several hours.
    p It is an application for tracking and updating timesheets. Woot Woot.

  section
    h2 Teammates
    ul
      li
        strong Designers
        | : Will provide styles and page designs.
      li
        strong Server Team
        | : Provide a REST Api and NodeJs application server.
      li
        strong Product Owners
        | : Provide us with requirements along the way.
      li
        strong Front End Team
        | : This is all of us and we are awesome!
